{% extends "base.html" %}

{% block title %}Активация аккаунта{% endblock %}

{% block content %}
<p>Регистрация завершена. Теперь вы можете <a href="{% url auth_login  %}">войти</a>.</p>
{% endblock %}
