{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Войти">
</form>

<p><a href="{% url auth_password_reset %}">Восстановить пароль</a></p>
{% endblock %}
