{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
{% if validlink %}
    <p>Пожалуйста, введите ваш новый пароль.</p>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Изменить мой пароль" />
    </form>
{% else %}
    <p>Ссылка для восстановления пароля неверная. Возможно, она уже была использована. Пожалуйста, повторите процедуру восстановления пароля еще раз.</p>
{% endif %}
{% endblock %}
