{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<p>Забыли пароль? Введите ваш E-mail адрес и мы отправим на него инструкции по его восстановлению.</p>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
</form>
{% endblock %}
