{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<p>Пожалуйста, введите ваш старый и новый пароли.</p>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить">
</form>
{% endblock %}
