{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<p>Ваш новый пароль сохранен. Теперь вы можете <a href="{{ login_url }}">войти</a>.</p>
{% endblock %}
